<h1>Main</h1>
{{#if messages }}
<p>
    <small><i>{{getTime}}</i></small>
</p>
<h2>Messages: </h2>
<ul class="list bg-base-100 rounded-box shadow-md">
    {{#each messages }}
    <li>
        <pre> {{ this }} </pre>
    </li>
    {{/each}}
</ul>
{{/if}}
<p>{{ toUppercase content }}</p>